<div id="temperature-wrapper">
	<div id="temperature"><span id="temperature-value">{{temperature}}</span><span id="temperature-scale">{{scale}}</span></div>
	<div id="temperature"><span id="humidity-value">45</span><span>%</span></div>
</div>
